
*   {  box-sizing: border-box;
        /* margin: 0; */
        /* padding: 0; */
    

}
html{
    border: 3px solid saddlebrown;
    height: 100%;
    padding: 1px;
}

body{

    background-image: url(./background_image.jpg);
    /* padding: 10px 55px 0px 55px; */
    /* overflow: hidden; */
    /* border: 2px solid rgb(181, 249, 9); */
    /* margin: 0; */
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: aqua; */
    /* min-height: 100vh; */
    
}
#container{
    background-color: rgba(0, 0, 0, 0.212);
    width: 100%;
    height: 100%;
    border: 1px solid rgb(42, 156, 122);
    /* background-image: url(/background_image.jpg); */

    /* margin-bottom: 10px; */
    /* padding-bottom: 0%; */
   
    
}
html, body{
    /* min-height: 100%; */
    /* height: 100%; */
    /* width: 100%; */
    /* internetten buldum */
}
.baslik{
    color: white;   
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#flix{
    color: red;
}
#container2{
    border: 1px solid rgb(40, 1, 218);
    /* margin-top: 15px; */
    font-size: larger;
}
#altbaslik{
    color: white;
    font-size: 16px;
    text-align: center;
}
#container3{
    border: 1px solid rgb(228, 27, 178);
    background-color: rgba(0, 0, 0, 0.76);
    width: 400px;
    margin: auto;
    /* margin-top: 15px; */
    /* margin-bottom: 5px; */
    height: 100%;
    color: white;
margin-bottom: 3px;
    

    /* padding-top: 15px; */
}
label{

    
}
.maininput{
 
    /* margin-top: 10px; */
    width: 100%;
    height: 50px;
}
.formdiv{
    width: 90%;
    border: 1px solid red;
    margin: auto;
    /* margin-top: 2px; */
    margin-bottom: 10px;
    /* padding-top: 10px; */
    font-size: 14px;
    /* height: 100%; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
select{
    width: 95%;
    height: 25px;
}
textarea{
    height: 10px    ;
    width: 90%;
}
#submitbutton{
    margin: auto;
    background-color: red;
    /* display: flex; */
    height: 35px;
    width: 100px;
    text-align: center;
    border-radius: 50px;
    color: white;
    border: none;
    display: grid;
    
}
#age{
    /* background-color: aqua; */
    /* height: 100%; */


}